
.nothing__main-content {
    align-items: center;
    background-color: $primary;
    background-image: url('/assets/back.jpg');
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    

    p {
        text-align: center;
    }
}